*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

section{
    padding: 50px 10%;
}

body{
    background-color: #fff;
    color: #222;
}

.form-contacto{
    display: flex;
    background: pink;
    padding: 20px 20px;
    border: 2px solid pink;
    border-radius: 10px;
}

.form-contacto label{
    display: flex;
    font-size: 15px;

}

.form-contacto input{
    background: pink;
}


.btn{
    padding: 5px;
    color: #222;
    border: 2px solid #222;
    border-radius: 40px;
}

.btn:hover{
    color: white;
    background-color: #504747;
}


body.oscuro{
    background-color: #000;
    color: #fff;
}


.noDisplay{
    display: none;
    color: solid pink;
}



